/*** Fonts ***/

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: url('./../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url('./../fonts/Oswald-Light.ttf');
}

/*** Variables ***/

:root {
    --primary-color: rgb(39, 32, 135);
    --primary-btn-text-color: #FFFFFF;
    --secondary-color: #009882;
    --secondary-btn-text-color: #EBF6DE;
    --btn-font: 1rem 'Oswald', sans-serif;
    --text-font: 0.875rem 'Lato', sans-serif;
    --dark-grey: #1B1B1B;
    --light-grey: #f0f0f0;
    --error-pink: #FF356F;
    --navbar-height: 68px;
    --footer-height: 82px;
}

/*** Global ***/

body {
    font: var(--text-font);
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 1rem;
    margin-bottom: 0;
}

a,
.link {
    color: var(--secondary-color);
    font: var(--text-font);
    font-weight: 600;
    cursor: pointer;
}

.link:hover {
    color: var(--primary-color);
    transition: all .4s;
}

a:hover {
    text-decoration: none;
}

.logo,
.records-container h2 {
    text-transform: uppercase;
    font: 1.125rem 'Oswald', sans-serif;
    color: var(--primary-color);
}

.logo-light {
    font-weight: 300;
}

.btn,
.navbar-light .navbar-nav .nav-link,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.nav-pills .nav-link,
.navbar .navbar-nav .nav-item a {
    font: var(--btn-font);
    border-radius: 1.875rem;
    text-transform: uppercase;
    padding: 4px 20px;
    margin: 0 10px;
    border: 2px solid transparent;
}

.navbar {
    padding: 1rem 2rem;
}

.navbar .navbar-nav .nav-item a:hover {
    transition: all .2s;
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .navbar-nav .nav-item a.selected {
    background-color: var(--primary-color);
    color: var(--primary-btn-text-color);
    border: 2px solid var(--primary-color);
}

.navbar .navbar-nav .nav-item:last-child {
    padding-left: 10px;
}

.btn-hc-primary,
.navbar .navbar-nav .selected[href="/profil"] .btn-hc-primary {
    background-color: var(--primary-color);
    color: var(--primary-btn-text-color);
}

.btn-hc-primary[outlined] {
    background-color: var(--primary-btn-text-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn-hc-primary[outlined]:hover {
    background-color: var(--primary-color);
    color: var(--primary-btn-text-color);
}

.btn-hc-secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-btn-text-color);
    border: 2px solid var(--secondary-color);
}

.btn-hc-primary:hover {
    color: var(--secondary-btn-text-color);
}

.fixed-top {
    background-color: var(--primary-btn-text-color);
    border-bottom: 1px solid #e0e0e0;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin-top: var(--navbar-height);
}


/*** Tabs ***/

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--primary-color);
}

.container-tabs {
    background-color: var(--primary-btn-text-color);
    padding: 1.875rem;
    border-radius: 5px;
}

.container-tabs .nav-item {
    margin-right: 1.875rem;
}

.container-tabs .nav-item a {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.container-tabs.profile {
    margin: 5rem auto 4rem auto;
    padding: 3rem 5rem 3rem 5rem;
}

.container-tabs.profile .tab-content {
    margin-top: 2.5rem;
}

.tab-content {
    margin-top: 1.875rem;
}

.tab-content p {
    margin: .5rem auto 0 auto;
}

/*** Jumbotron ***/

.jumbotron {
    background-image: url("./../img/home-bg-1.jpg");
    background-size: cover;
    min-height: 65vh;
    margin-bottom: 0;
}

.jumbotron,
.jumbotron .container {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
}

.jumbotron-text {
    color: var(--primary-btn-text-color);
    text-align: right;
    text-transform: uppercase;
    font: 2rem 'Oswald', sans-serif;
    padding: 1.875rem;
}

/*** Form ***/

label {
    font: var(--text-font);
    font-weight: 700;
    font-size: 0.875rem;
}

.container-tabs.profile .form-control {
    width: 90%;
}

.form-control {
    font-size: 0.875rem;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 0;
    padding-left: 0;
    color: var(--dark-grey);
}

label[for$="Hour"] {
    opacity: 0;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: var(--error-pink);
    background-image: url("../img/cross.svg");
    background-size: 8px 8px;
}

.invalid-feedback {
    color: var(--error-pink);
}

select {
    -webkit-appearance: none;
    background-image: url(../img/form-select-arrow.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.signin-form {
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--light-grey);
}

/*** Modal ***/

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-body,
.modal-content .container-tabs {
    padding-top: 0;
}

.modal-body .tab-content p {
    margin-top: 1.5rem;
}

.modal-body .user-profile-title {
    margin-top: 0;
}

.modal-body p{
    line-height: 1.2rem;
}

/*** Record ***/

.records-container {
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 0;
}

.records-container p {
    margin-bottom: 0;
}

.records-container .record-value {
    font: 2.5rem 'Oswald', sans-serif;
    color: var(--secondary-color);
}

.records-container .record-text {
    font: 1rem 'Oswald', sans-serif;
    color: var(--primary-color);
}

/*** Parking ***/

.search-page .search-box-container {
    background-image: url("./../img/home-bg-1.jpg");
    padding: 2rem 10rem;
}

.search-page .search-box-container .search-box-form {
    background-color: var(--primary-btn-text-color);
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 6px;
}

.search-page .search-list {
    background-color: var(--primary-btn-text-color);
    padding: 2rem;
}

.search-page .search-map {
    padding: 0;
}

.search-page .search-list .search-list-container {
    background-color: var(--primary-btn-text-color);
    border-radius: 6px;
}

/*** User Profile ***/

.bg-img {
    background-image: url("./../img/home-bg-1.jpg");
    background-size: cover;
    min-height: calc(100vh - (var(--navbar-height) + var(--footer-height)));
}

.user-profile-title {
    font: 1rem 'Oswald', sans-serif;
    color: var(--primary-color);
    margin: 1rem auto;
}

.circle-button {
    display: inline-block;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--secondary-btn-text-color);
    margin-left: 1rem;
    cursor: pointer;
    font: .6rem 'Oswald', sans-serif;
    line-height: 1.5rem;
    position: relative;
    bottom: 3px;
}

.circle-button:hover {
    color: var(--dark-grey);
    transition: all .4s;
}

.error-message {
    color: var(--secondary-color);
    padding-bottom: 2rem;
    font-weight: bold;
}

.car-form-container {
    margin-top: 2rem;
}

.hc-user-profile-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4rem;
}

.hc-user-profile-list-item .circle-button {
    height: 1.875rem;
    min-width: 1.875rem;
    bottom: 0;
    font: .8rem 'Oswald', sans-serif;
    line-height: 1.875rem;
    color: var(--primary-btn-text-color);
    background-color: var(--primary-color);
}

.hc-user-profile-list-btn {
    display: flex;
    flex-direction: row;
}

/*** Footer ***/

footer {
    background-color: var(--dark-grey);
    color: var(--primary-btn-text-color);
    font-size: 0.625rem;
    text-align: center;
    padding: 1.125rem;
}

footer .logo {
    font-size: 1rem;
    color: var(--primary-btn-text-color);
}

footer p {
    margin: 5px auto;
}

.hc-list {
    min-height: calc(100vh - (var(--navbar-height) + var(--footer-height)));
    overflow: scroll;
}

.hc-list p {
    margin-bottom: 5px;
}

.hc-list-item {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.search-page .hc-list-item:hover {
    border: 2px solid var(--primary-color);
    background-color: rgba(39, 32, 135, 0.1);
}

.hc-list-item img {
    margin-right: 2rem;
}

.hc-list-item hr {
    margin-top: 2rem;
    margin-bottom: 0;
    border-top: 2px solid var(--primary-color);
}

.hc-user-profile-list-item:last-child hr,
.hc-list-item:last-child hr {
    display: none;
}

.hc-list-item-title {
    font: 1.125rem 'Oswald', sans-serif;
    color: var(--primary-color);
    text-transform: inherit;
    margin-top: .5rem;
}

.hc-list-item-features {
    color: var(--primary-color);
}

.hc-list-footer {
    color: var(--secondary-color);
    font-weight: bold;
}

/* https://www.w3schools.com/howto/howto_css_tooltip.asp */
.hc-tooltip {
    position: relative;
    display: inline-block;
}

.hc-tooltip .hc-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.hc-tooltip .hc-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hc-tooltip:hover .hc-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.hc-map {
    min-height: 100%;
}

.hc-modal-title {
    color: var(--primary-color)
}


@media only screen and (max-width: 991px) {
    .hc-map {
        display: none;
    }
}